<div style="text-align:center">
    <a href="{{field.params.customProperties.hyperlinkURL}}" target="_blank">
        <img src="{{field.params.customProperties.imageURL}}"
            height="'10%'" width="'10%'" />
    </a>
  </div>
  

  <!-- <div style="text-align:center">
    <a href="{{field.params.customProperties.hyperlinkURL}}" target="_blank">
        <img src="{{field.params.customProperties.imageURL}}"
            height="{{field.params.customProperties.imageHeight}}" width="{{field.params.customProperties.imageWidth}}" />
    </a>
  </div> -->
  